/*==============================
=            COLORS            =
==============================*/

$dark: #2c3e50;
$gray: #7f8c8d;
$yellow: #f1c40f;
$orange: #e67e22;
$red: #e74c3c;
$blue: #3498db;
$purple: #9b59b6;
$green: #2ecc71;

/*=====  End of COLORS  ======*/

$border: 1px solid rgba($gray, .2);