/*=====================================
=            GRID SETTINGS            =
=====================================*/

$gutter-xs: 15px;
$gutter-sm: $gutter-xs;
$gutter-md: $gutter-sm;
$gutter-lg: $gutter-md;
$gutter-xl: $gutter-lg;

$content-xs: 100%;
$content-sm: $content-xs;
$content-md: $content-sm;
$content-lg: 1200px;
$content-xl: $content-lg;

/*=====  End of GRID SETTINGS  ======*/





/*============================
=            GRID            =
============================*/

.container {
	height: 100%;
	padding: 0 $gutter-xs;
	position: relative;
	width: $content-xs;

	@include clearfix;

	@include sm {
		margin: 0 auto;
		max-width: $content-sm;
		$content-xsdding: 0 $gutter-sm;
	}

	@include md {
		max-width: $content-md;
		padding: 0 $gutter-md;
	}

	@include lg {
		max-width: $content-lg;
		padding: 0 $gutter-lg;
	}

	@include xl {
		max-width: $content-xl;
		padding: 0 $gutter-xl;
	}
}