section.utils--center
  h4.typo__h4
    | Created by Łukasz Florczak <lukasz.florczak@cepixel.com>
    strong
      a.typo__link(href='https://twitter.com/', target='_BLANK')
        |  Łukasz Florczak <lukasz.florczak@cepixel.com> twitter handle
  h4.typo__h4
    | With love from
    strong
      a.typo__link.monterail-link(href='http://monterail.com', target='_BLANK')  Monterail
  a(href='http://monterail.com', target='_BLANK')
    img.monterail-logo(src='static/monterail-logo.png')
