.grid__row
  .grid__column
    section.docs#getting-started
      h1.typo__h1 Getting started
      hr.typo__hr

      .grid__row
        .grid__column
          h2.typo__h2 Installation
          pre.language-bash
            code.
              npm install vue-agile --save

        .grid__column
          h2.typo__h2 Basic usage
          pre.language-jade
            code.
              multiselect(
                v-model="selected",
                :options="options"
              )
          pre.language-javascript
            code.
              import vue-agile from 'vue-agile'
              export default {
                components: { vue-agile }
              }

      .grid__row
        .grid__column
          h2.typo__h2 Package content

        .grid__column.grid__unit--md-5
          p.typo__p
            | Carousel component for Vue.js
