/*================================
=            SETTINGS            =
================================*/

@import "settings";
@import "mixins";
@import "functions";
@import "variables";

@import "normalize";

@import "breakpoints";
@import "grid";
@import "default";
@import "icons";

$z-indexes: ();

/*=====  End of SETTINGS  ======*/





/*===============================
=            GENERAL            =
===============================*/

body {
    color: $dark;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
}

h1, h2, h3 {
    font-weight: 300;
}

.main {
    overflow: hidden;
}

.hidden-md {
    @include md {
        display: none;
    }
}

.visible-sm {
    display: none;

    @include sm {
        display: block;
    }
}

.visible-md {
    display: none;

    @include md {
        display: block;
    }
}

.gh-buttons {
    margin-top: 15px;
    text-align: center;

    @include md {
        margin-top: 0;
        position: absolute;
        right: $gutter-md;
        top: 28px;
    }

    > * {
        margin: 0 10px;

        @include md {
            margin-left: 10px;
            margin-right: 0;

            &:first-child {
                margin-left: 0;
            }
        }
    }
}

.badge {
    background-color: $green;
    border-radius: 10px;
    color: #fff;
    font-size: .5em;
    font-weight: 600;
    margin-left: 5px;
    padding: 1px 7px 2px;
    vertical-align: super;

    @include sm {
        border-radius: 12px;
    }
}

.section {
    margin: 30px 0;

    &--header {
        margin-top: 0;
        text-align: center;

        @include md {
            text-align: left;
        }

        .section__title {
            font-size: 28px;

            @include sm {
                font-size: 36px;
            }
        }
    }

    &__title {
        font-size: 26px;

        @include sm {
            font-size: 30x;
        }

        .section--header & {
            border-bottom: $border;
            margin-bottom: 20px;
            padding-bottom: 20px;
        }
    }

    &__description {
        color: rgba($dark, .6);
    }

    &__subtitle {
        color: $gray;
        margin-top: 0;
    }
}

pre[class*=language-] {
    border-radius: 0;
    max-height: 200px;
    overflow-y: auto;

    @include lg {
        height: 200px;
    }
}

.site-footer {
    font-size: 12px;
    margin: 30px 0;
    text-align: center;
}

.copyright {
    border-top: $border;
    margin-bottom: 5px;
    padding-top: 30px;

    @include sm {
        align-items: center;
        display: flex;
        justify-content: center;
    }

    a {
        margin: 0 5px;
    }

    img {
        display: block;
    }

    span {
        display: block;
    }

    > iframe {
        margin-top: 5px;

        @include sm {
            margin: 0 0 0 7px;
        }
    }

    strong {
        margin-left: 2px;
    }
}

.agile {
	user-select: none;

    &__actions {
        position: static;
    }
}

.codepen {
    position: absolute;
    right: 0;
    text-align: right;
    text-transform: uppercase;
    top: 5px;

    a {
        color: #888;
        text-decoration: none;

        &:hover {
            color: $dark
        }
    }

    span {
        display: block;

        &:first-child {
            font-size: 10px;
            letter-spacing: 2px;
        }

        &:last-child {
            font-size: 18px;
            font-weight: 600;
            letter-spacing: 2px;
        }
    }
}

.section--demo-2 {
    .container-fluid {
        padding: 0;
    }
}

.slide {
    height: 200px;

    @include sm {
        height: 300px
    }

    @include md {
        height: 500px
    }
}


/*=====  End of GENERAL  ======*/
