/*================================
=            SETTINGS            =
================================*/
@import "settings";
@import "mixins";
@import "functions";
@import "variables";
@import "normalize";
@import "breakpoints";
@import "grid";
@import "default";
@import "icons";

$z-indexes: ();

/*=====  End of SETTINGS  ======*/

/*===============================
=            GENERAL            =
===============================*/

body {
    color: $dark;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
}

h1, h2, h3 {
    font-weight: 300;
}

*[class*='section--demo-'] {
    .agile {
        position: relative;

        &, * {
            &:focus,
            &:active {
                outline: none;
            }
        }

        &__list {
            display: block;
            margin: 0;
            overflow: hidden;
            padding: 0;
            position: relative;
            width: 100%;
        }

        &__track {
            align-items: center;
            display: flex;
            justify-content: flex-start;

            .agile--disabled & {
                display: block;
                max-width: 100%;
            }
        }

        &__slide {
            display: block;

            .agile--fade & {
                opacity: 0;
                position: relative;
                z-index: 0;

                &--active {
                    opacity: 1;
                    z-index: 2;
                }

                &--expiring {
                    opacity: 1;
                    transition-duration: 0s;
                    z-index: 1;
                }
            }
        }

        &__arrow {
            border: none;
            bottom: -11px;
            margin: 0;
            padding: 0;
            position: absolute;
            transition-duration: .3s;

            &[disabled] {
                cursor: default;
                opacity: .4;
            }

            &:hover {
                svg {
                    fill: #333;
                }
            }

            &--prev {
                left: 0;
            }

            &--next {
                right: 0;
            }

            svg {
                fill: #888;
                height: 24px;
                transition-duration: .3s;
            }
        }

        &__dots {
            align-items: center;
            display: flex;
            justify-content: center;
            list-style: none;
            margin: 20px 0;
            padding: 0;
            text-align: center;
            white-space: nowrap;
        }

        &__dot {
            margin: 0 10px;

            button {
                background-color: #eee;
                border: none;
                border-radius: 50%;
                cursor: pointer;
                display: block;
                height: 10px;
                font-size: 0;
                line-height: 0;
                margin: 0;
                transition-duration: .3s;
                width: 10px;
            }

            &--current,
            &:hover {
                button {
                    background-color: #888;
                }
            }
        }
    }
}

.hidden-md {
    @include md {
        display: none;
    }
}

.visible-sm {
    display: none;

    @include sm {
        display: block;
    }
}

.visible-md {
    display: none;

    @include md {
        display: block;
    }
}

.gh-buttons {
    margin-top: 15px;
    text-align: center;

    @include md {
        margin-top: 0;
        position: absolute;
        right: $gutter-md;
        top: 28px;
    }

    > * {
        margin: 0 10px;

        @include md {
            margin-left: 10px;
            margin-right: 0;

            &:first-child {
                margin-left: 0;
            }
        }
    }
}

.badge {
    background-color: $green;
    border-radius: 10px;
    color: #fff;
    font-size: .5em;
    font-weight: 600;
    margin-left: 5px;
    padding: 1px 7px 2px;
    vertical-align: super;

    @include sm {
        border-radius: 12px;
    }
}

.section {
    margin: 30px 0;

    &--header {
        margin-top: 0;
        text-align: center;

        @include md {
            text-align: left;
        }

        .section__title {
            font-size: 28px;

            @include sm {
                font-size: 36px;
            }
        }
    }

    &__title {
        font-size: 26px;

        @include sm {
            font-size: 30x;
        }

        .section--header & {
            border-bottom: $border;
            margin-bottom: 20px;
            padding-bottom: 20px;
        }
    }

    &__description {
        color: rgba($dark, .6);
    }

    &__subtitle {
        color: $gray;
        margin-top: 0;
    }
}

.slide {
    background: {
        position: center;
        size: cover;
    }
    color: #fff;
    height: 200px;
    position: relative;

    @include md {
        height: 300px;
    }

    h3 {
        font-size: 32px;
        font-weight: 300;
        left: 50%;
        margin: 0;
        position: absolute;
        top: 50%;
        transform: translate(-50%, -50%);
    }
}

pre[class*=language-] {
    border-radius: 0;
    max-height: 200px;
    overflow-y: auto;

    @include lg {
        height: 200px;
    }
}

.code {
    &__title {
        text-transform: uppercase;
    }

    &__content {
        font-size: 13px;
    }
}

.site-footer {
    font-size: 12px;
    margin: 30px 0;
    text-align: center;
}

.copyright {
    border-top: $border;
    margin-bottom: 5px;
    padding-top: 30px;

    @include sm {
        align-items: center;
        display: flex;
        justify-content: center;
    }

    span {
        display: block;
    }

    > iframe {
        margin-top: 5px;

        @include sm {
            margin: 0 0 0 7px;
        }
    }

    strong {
        margin-left: 2px;
    }
}

.agile {
    margin: 15px auto;
}

.section--demo-1,
.section--demo-4 {
    .slide {
        &--1 {
            background-color: $yellow;
        }

        &--2 {
            background-color: $orange;
        }

        &--3 {
            background-color: $red;
        }

        &--4 {
            background-color: $purple;
        }

        &--5 {
            background-color: $blue;
        }

        &--6 {
            background-color: $green;
        }
    }
}

.section--demo-2 {
    .container-fluid {
        padding: 0;
    }

    .agile {
        max-width: 1600px;

        &__dots {
            bottom: 0;
            left: 50%;
            position: absolute;
            transform: translateX(-50%);
        }

        &__dot {
            button {
                background-color: transparent;
                border: 1px solid #fff;

                &:hover {
                    background-color: #fff;
                }
            }

            &--current {
                button {
                    background-color: #fff;
                }
            }
        }

        &__arrow {
            height: 100%;
            top: 0;
            width: 50px;

            @include md {
                width: 80px;
            }

            &:hover {
                @include md {
                    background-color: rgba(#000, .5);
                }

                svg {
                    fill: #fff;
                }
            }

            &[disabled] {
                display: none;
            }

            svg {
                fill: rgba(#fff, .4);

                @include md {
                    height: 25px;
                }
            }
        }
    }

    .slide {
        height: 250px;

        @include md {
            height: 500px;
        }

        &:before {
            background-color: rgba(#000, .2);
            content: '';
            height: 100%;
            left: 0;
            position: absolute;
            top: 0;
            width: 100%;
        }

        &--1 {
            background-image: url(../static/bg-01.jpg);
        }

        &--2 {
            background-image: url(../static/bg-02.jpg);
        }

        &--3 {
            background-image: url(../static/bg-03.jpg);
        }

        &--4 {
            background-image: url(../static/bg-04.jpg);
        }

        &--5 {
            background-image: url(../static/bg-05.jpg);
        }

        &--6 {
            background-image: url(../static/bg-06.jpg);
        }
    }
}

.section--demo-3 {
    .agile {
        &__dots {
            bottom: 0;
            display: block;
            left: 10px;
            position: absolute;
            transform: none;
            width: 30px;
        }

        &__dot {
            margin-bottom: 10px;

            &:hover {
                button {
                    background-color: #fff;
                }
            }

            button {
                background-color: rgba(#fff, .2);
            }

            &--current {
                button {
                    background-color: rgba(#fff, .6);
                }
            }
        }
    }

    .slide {
        height: 300px;

        @include sm {
            height: 400px
        }

        @include md {
            height: 500px;
        }

        &--1 {
            background-image: url(../static/bg-07.jpg);
        }

        &--2 {
            background-image: url(../static/bg-08.jpg);
        }

        &--3 {
            background-image: url(../static/bg-09.jpg);
        }
    }
}

.section--demo-4 {

    .agile {
        &--disabled {
            .agile__track {
                display: flex;

                .slide {
                    flex: 1;
                }
            }
        }
    }
}

/*=====  End of GENERAL  ======*/
